@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

:root {
    --ff-headline: 'Bebas Neue', cursive;
    --ff-normal: 'Fira Sans', sans-serif;
    --mainColor: #AA14F0;
    --secondColor: #142F43;
}


body {
    overflow-x: hidden;
}


#topDiv {
    transform: translateY(800px);
    transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.btn-1 {
    background-color: var(--mainColor);
    color: white !important;
}

.btn-2 {
    background-color: var(--secondColor);
    color: white;
}

.ff-headline {
    font-size: 40px;
    font-family: var(--ff-headline) !important;
}

.cc-headline {
    color: var(--mainColor) !important;
}

.ff-bold {
    font-family: var(--ff-headline) !important;
}

.ff-sub {
    font-family: var(--ff-headline) !important;
    color: var(--secondColor) !important;
}

p {
    font-family: var(--ff-normal) !important;
}

button {
    border: none;
}

body {
    background-color: #eeeeee !important;
}



.language-settings {
    min-height: 100vh;
}
.language-settings button {
    font-family: var(--ff-headline) !important;
    font-size: 50px;
}

a, button {
    transition: 0.2s;
}

a:hover, button:hover {
    transform: scale(1.1);
}

.max-width {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
}

.contact {
    margin-bottom: 100px !important;
}

.about {
    background-image: url('./images/test.svg');
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media (min-width: 1280px) {


    .ff-headline {
        font-size: 50px;
        font-family: var(--ff-headline) !important;
    }
    .contact {
        margin-bottom: 200px !important;
    }
}

@media (min-width: 1900px) {
    .blobs {
        margin-top: 100px;
        position: relative;
    }
    .blob-1 {
        position: absolute;
        right: 680px;
    }
    .blob-2 {
        position: absolute;
        left: 680px;
    }
    .blob-3 {
        position: absolute;
        left: 820px;
        top: 200px;
    }

}